body{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}

header{
    background-color:#66c385;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

h1 span{
    color: red;
}

.about p{
    position: absolute;
    text-align: left;  
    width: 36%;
    font-size: 18px;
}

.about{
    background-color: #65e0b133;
}

.about img{
    width: 120vh;
}

.about h1{
    position: absolute;
    top: 12%;
    left: 63%;
}

.about h3{
    position: absolute;
    top: 20%;
    left: 63%;
}

.about p{
    top: 24%;
    left: 63%;
}

.about h1 span{
    color: rgb(163, 6, 6);
}